<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matematika">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Paint.Main2Activity"></activity>
        <activity android:name=".Paint.PaintView"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Paint.Draw"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Testing_Place_R"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Testing_Place_N"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".testing"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Book"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Quiz"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>